<div class="row">
  <div class="col">
    <select
      class="form-select"
      [(ngModel)]="params.filter.ingredients"
      (change)="getAllCakes()"
    >
      <option value="">--</option>
      <option *ngFor="let ingredient of ingridients">{{ ingredient }}</option>
    </select>
  </div>
</div>
<hr />

<div class="row">
  <div
    class="col-4"
    *ngFor="let cake of cakes"
    [routerLink]="['/cakes/', cake._id]"
  >
    <img
      src="assets/images/cakes/{{ cake._id }}.jpg"
      width="100%"
      height="300px"
      alt="Cakes"
    />
    <h3>{{ cake.name }}</h3>
    <p>{{ cake.ingredients }}</p>
  </div>
</div>
