<div class="row mt-3">
  <div class="col-6 offset-3">
    <p>{{ profileFormGroup.value | json }}</p>
    <form [formGroup]="profileFormGroup">
      <div class="form-group">
        <label for="exatEmail1">First Name</label>

        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          name="firstName"
          [disabled]="editDis"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          [disabled]="editDis"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPass1">Email Adress</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [disabled]="editDis"
        />
      </div>

      <button type="submit" class="btn btn-primary" (click)="editMe()">
        {{ show ? "Edit" : "Cancel" }}
      </button>
      <button class="btn btn-secondary" *ngIf="saveBtn" (click)="updateUser()">
        Save
      </button>
    </form>
  </div>
</div>
